In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import statsmodels.api as sm
import matplotlib.mlab as mlab
from sklearn.feature_selection import RFECV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import math

In [3]:
from sklearn import datasets
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import ElasticNet

In [4]:
#connecting to database server
engine1 = sqlalchemy.create_engine('mysql+mysqlconnector://root:123456@localhost/mydb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600)

In [5]:
#connecting to database server
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:123456@localhost/mdb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600)

Importing simulated data and bus library

In [18]:
query = "SELECT * FROM bus_library ;"
bus_lib = pd.read_sql(query, engine).drop(columns = "index")
bus_lib

   type  empt_wt  front_area  battery_size  max_power  charging_time
0  30ft    13500       7.902           215         90            5.0
1  40ft    19700       8.780           352        150            8.0
2  60ft    30600       8.780           446        180            9.0

In [7]:
query = "SELECT * FROM simu_data"
ener = pd.read_sql(query, engine1).drop(columns = "index")
ener = ener.rename(columns={'30_ft': '30ft','40_ft': '40ft','60_ft': '60ft' })
ener

              0      40ft      30ft       60ft
0      3.667301  1.236482  1.172390   1.355468
1      3.722613  1.207645  1.143553   1.326631
2      3.777926  1.178808  1.114716   1.297794
3      3.833238  1.149971  1.085879   1.268957
4      3.668163  1.236936  1.172843   1.355922
...         ...       ...       ...        ...
12955  9.575674  9.048814  6.825456  12.950880
12956  9.410598  9.135779  6.912420  13.037845
12957  9.465911  9.106942  6.883583  13.009008
12958  9.521223  9.078105  6.854746  12.980171
12959  9.576536  9.049268  6.825909  12.951334

[12960 rows x 4 columns]

## Fitting the polynomial regression model for different bus sizes and predicting energy consumption for different routes

In [12]:
#importing mass and auxillary power 
query = "SELECT * FROM cdm_route_data ;"
trip_data = pd.read_sql(query, engine)

In [13]:
#import real data for Boston 
query = "SELECT * FROM cdm_datafinal ;"
df = pd.read_sql(query, engine)

In [23]:
#writing the energy consumption equation

def ener_prediction(index):
    #Define constants
    g=9.81 #m/s^2
    bus_wt= bus_lib.loc[bus_lib.index == index,"empt_wt"].values[0] #kg (empty)
    m_pax=70 #kg
    C_rr=0.00697 #(without rain)
    #C_rr=0.00763 #(with rain)
    rho=1.2 #kg/m^3
    A=bus_lib.loc[bus_lib.index == index,"front_area"].values[0] #m^2
    C_d=0.65
    eta_m=0.85
    eta_bat = 0.95
    power= np.empty((0,1))

    riders = [5*x for x in np.arange(0,9,1)]
    masses = [] 
    p_aux = [] 

    #q_heat = 30000 #30kW
    p_auxx = 9000 #9 kW
    h_gain  =1.8 #W
    R_th = 0.0174 #K/W
    T_in = 21 #celcius 
    T_outside = [-20, -10,0, 10]
    C_p = 1.005 #KJ/KG.K
    rho = 1.2
    V_inf = 0
    V_hv = 1.13 #m^3/sec
    psi = 0.20 # 20%
    eta_cop = 2

    for rider in riders:
        masses.append(bus_wt+m_pax*rider)
        for T_out in T_outside:
            p_aux.append(abs((((((T_in-T_out)/R_th) - (rho*C_p*(T_in-T_out)*V_inf ) - (psi*V_hv* rho*C_p*(T_in-T_out)) + (h_gain*rider))/eta_cop)+ p_auxx)/eta_bat))


    #generate a possible sampling distrbution to select data from ????
    grades = np.arange(-0.1,0.1,0.005)
    time  = 0.1 #0.1 sec 
    p_max = bus_lib.loc[bus_lib.index == index,"max_power"].values[0] #90kw
    e_bat = bus_lib.loc[bus_lib.index == index,"battery_size"].values[0] #215 kwh
    data = np.empty((0,3))

    for grade in grades:
        for m_bus in masses: 
            for p_auxi in p_aux:
                data = np.append(data, np.array([[np.sin(grade), m_bus,p_auxi]]), axis=0)

    # Add a bias term to the dataset
    x = sm.add_constant(data)

    # Create polynomial features
    poly_feats = PolynomialFeatures(degree = 6)
    x = poly_feats.fit_transform(x)

    # Split into training and validation set
    x_train, x_val, y_train, y_val = train_test_split(x, ener[bus_lib.iloc[index]["type"]], test_size=0.2, random_state=0)


    # Fit the elastic net regression model
    my_reg = ElasticNet( alpha = 0.001, l1_ratio = 0.8, 
                        max_iter = 1e5).fit(x_train, y_train)

    # Make predictions
    val_preds = my_reg.predict(x_val)
    train_preds = my_reg.predict(x_train)
    val_mse = mean_squared_error(y_val, val_preds)
    train_mse = mean_squared_error(y_train, train_preds)
    print("Train MSE:", train_mse, "\n", "Valid MSE:", val_mse, "\n")
    
    energy = [] 
    for trip in trip_data.trip_id.values:
        data1 = np.empty((0,3))
        for i in range(0, df[df.trip_id ==  trip].shape[0]): 
            route  = trip_data[trip_data.trip_id == trip]["route_id"].values[0]
            data1 = np.append(data1, np.array([[np.sin(df[df.trip_id ==  trip][ "slope"].values[i]), trip_data[trip_data.route_id == route][bus_lib.iloc[index]["type"]+"_wt"].mean(),trip_data[trip_data.route_id == route]["p_ext"].mean()]]), axis =0 )
        # Add a bias term to the dataset
        x1 = sm.add_constant(data1, has_constant='add')
        # Create polynomial features
        poly_feats = PolynomialFeatures(degree = 6)
        x1 = poly_feats.fit_transform(x1)
        p = my_reg.predict(x1)
        energy.append(np.matmul(p,(df[df.trip_id == trip]["dist_m"].values/1000)))
    
    return energy

In [24]:
for index in bus_lib.index: 
    globals()["CDM_energy_" + bus_lib.iloc[index]["type"]]  = ener_prediction(index)

Train MSE: 0.00016724992098954836
 Valid MSE: 0.0001731203211214438

Train MSE: 0.00033268978367465745
 Valid MSE: 0.00034240166542271947

Train MSE: 0.0007644584009694174
 Valid MSE: 0.0007836666987525387

In [28]:
trip_data["energy_30ft"]= CDM_energy_30ft
trip_data["energy_40ft"]= CDM_energy_40ft
trip_data["energy_60ft"]= CDM_energy_60ft

In [27]:
#looking at tripwise energy consumption 
trip_data.drop(columns = ["level_0", "index"])

,route_id,trip_id,trip_count,avg_speed,route_length,30ft_wt,40ft_wt,60ft_wt,p_ext,energy_30ft,energy_40ft,energy_60ft
0,B42,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,110,4.193678,7297.0,15600,21800,32700,10083.484330,19.623394,24.547300,33.195873
1,B45,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,4,4.851481,13099.0,15950,22150,33050,10078.747488,36.889608,46.185604,62.509727
2,B45,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,2,5.194574,13402.0,15950,22150,33050,10078.747488,36.847699,46.012909,62.108930
3,B45,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,47,6.140278,4421.0,15950,22150,33050,10078.747488,12.563086,15.744057,21.329789
4,B45,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,48,5.911667,3547.0,15950,22150,33050,10078.747488,9.790955,12.231622,16.517887
5,B47,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,70,4.730833,11354.0,15250,21450,32350,10088.221172,30.613372,38.476467,52.286991
6,B47,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,1,5.353704,8673.0,15250,21450,32350,10088.221172,23.469313,29.509941,40.119343
7,B47,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,70,5.467241,9513.0,15250,21450,32350,10088.221172,26.013233,32.748497,44.577333
8,B51,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,63,5.818095,12218.0,15950,22150,33050,10078.747488,34.022625,42.544363,57.509585
9,B51,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,67,5.078378,11274.0,15950,22150,33050,10078.747488,31.416768,39.288897,53.113268
10,B52,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,2,5.322989,9262.0,14900,21100,32000,10092.958015,24.163511,30.389427,41.325951
11,B52,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,67,5.293678,9211.0,14900,21100,32000,10092.958015,25.052239,31.666769,43.283187
12,B52,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,66,2.508333,301.0,14900,21100,32000,10092.958015,0.895728,1.143830,1.579393
13,B59,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,61,4.809524,6060.0,14900,21100,32000,10092.958015,15.991147,20.139673,27.426509
14,B59,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,63,5.351852,5780.0,14900,21100,32000,10092.958015,15.389519,19.403167,26.452733
15,B60,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,80,4.250000,7140.0,15950,22150,33050,10078.747488,20.148755,25.231618,34.157205
16,B60,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,81,3.215625,6174.0,15950,22150,33050,10078.747488,16.969322,21.189377,28.600697
17,B61,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,3,5.310897,16570.0,17000,23200,34100,10064.536962,47.946409,59.483270,79.733348
18,B61,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,70,4.758140,12276.0,17000,23200,34100,10064.536962,35.837218,44.498443,59.700713
19,B61,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,72,4.833333,11890.0,17000,23200,34100,10064.536962,34.773119,43.184669,57.948640
20,B65,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,57,5.961905,15024.0,15600,21800,32700,10083.484330,41.604116,52.216681,70.854474
21,B65,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,8,4.965385,7746.0,15600,21800,32700,10083.484330,21.538540,27.045121,36.715639
22,B65,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,50,5.375362,7418.0,15600,21800,32700,10083.484330,20.345292,25.507504,34.573754
23,B73,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,84,6.315306,18567.0,17700,23900,34800,10055.063278,54.713449,67.512549,89.965334
24,B73,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,82,6.249603,15749.0,17700,23900,34800,10055.063278,47.389378,58.584779,78.224059
25,B73,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,1,4.211111,7580.0,17700,23900,34800,10055.063278,22.983899,28.432855,37.991574
26,B73,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,45,6.416049,10394.0,17700,23900,34800,10055.063278,30.510127,37.634028,50.131149
27,B80,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,1,7.077143,14862.0,14900,21100,32000,10092.958015,40.565193,51.297114,70.144153
28,B80,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,2,5.901389,12747.0,14900,21100,32000,10092.958015,34.908826,44.161747,60.411168
29,B80,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,75,6.532292,12542.0,14900,21100,32000,10092.958015,32.855164,41.341018,56.246617
30,B80,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,83,5.445833,6535.0,14900,21100,32000,10092.958015,17.288251,21.779876,29.669140
31,B80,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,3,8.074242,10658.0,14900,21100,32000,10092.958015,29.246223,37.006930,50.635695
32,B84,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,45,6.921368,16196.0,17700,23900,34800,10055.063278,48.270296,59.622757,79.537903
33,B84,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,46,5.077027,11271.0,17700,23900,34800,10055.063278,32.906371,40.569675,54.013211
34,B84,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,55,4.798246,5470.0,17700,23900,34800,10055.063278,15.909894,19.608251,26.096180
35,B84,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,13,4.015000,4818.0,17700,23900,34800,10055.063278,14.679058,18.166740,24.284913
36,B86,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,121,6.129762,10298.0,14900,21100,32000,10092.958015,27.772125,35.069410,47.885527
37,B94,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,4,24.902451,50801.0,17000,23200,34100,10064.536962,148.849670,184.889273,248.146045
38,B94,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,75,27.575000,49635.0,17000,23200,34100,10064.536962,145.355326,180.539610,242.295182
39,B94,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,5,3.724242,7374.0,17000,23200,34100,10064.536962,21.480296,26.666141,35.768436
40,B94,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,74,4.651333,6977.0,17000,23200,34100,10064.536962,20.322361,25.228476,33.839786
41,B95,20200314_8_GIORNALIERO (FESTIVO)_no rete not_f...,156,4.196847,9317.0,18400,24600,35500,10045.589594,28.131926,34.559555,45.826143

Looking at the aggregated energy consumption for various routes

In [34]:
#importing the route data from the database 
query = "SELECT * FROM cdm_e_data ;"
route_data = pd.read_sql(query, engine)
route_data

,index,route_id,route_length,num_buses,energy_30ft,energy_40ft,energy_60ft,avg_speed
0,0,B42,802670.0,4.0,1.713129,1.986089,2.831305,4.193678
1,1,B45,457243.0,6.0,1.579554,1.781401,2.373631,5.524500
2,2,B47,1469363.0,6.0,1.737075,1.761259,2.075700,5.183926
3,3,B51,1525092.0,6.0,1.985548,1.702070,2.934556,5.448237
4,4,B52,655527.0,6.0,1.301734,1.735054,2.378721,4.375000
5,5,B59,733800.0,4.0,1.982700,1.943249,2.259031,5.080688
6,6,B60,1071294.0,6.0,1.994648,1.664162,2.643020,3.732813
7,7,B61,1765110.0,8.0,1.329459,1.670488,2.103606,4.967457
8,8,B65,1289236.0,6.0,1.310281,1.905109,2.761520,5.434217
9,9,B73,3326356.0,12.0,1.664594,1.812030,2.590537,5.798017
10,10,B80,1555385.0,6.0,1.536138,1.626813,2.798979,6.606180
11,11,B84,1610770.0,6.0,1.833111,1.555302,2.445458,5.202910
12,12,B86,1246058.0,6.0,1.654516,1.759504,2.127090,6.129762
13,13,B94,4478997.0,6.0,1.619542,1.509126,2.205063,15.213257
14,14,B95,1453452.0,6.0,1.532938,1.711415,2.721969,4.196847

In [35]:
#estimating total energy consumed by different buses types on each route 
for route in route_data.route_id:
    ab = trip_data[trip_data.route_id == route]
    route_data.loc[route_data.route_id == route, "energy_30ft"] = (ab["trip_count"] * ab["energy_30ft"]).sum()
    route_data.loc[route_data.route_id == route, "energy_40ft"] = (ab["trip_count"] * ab["energy_40ft"]).sum()
    route_data.loc[route_data.route_id == route, "energy_60ft"] = (ab["trip_count"] * ab["energy_60ft"]).sum()

#storing estiamted data in database 
route_data.to_sql('cdm_e_data', con=engine, if_exists = 'replace')

In [36]:
#Final energy consumption 
route_data

,index,route_id,route_length,num_buses,energy_30ft,energy_40ft,energy_60ft,avg_speed
0,0,B42,802670.0,4.0,2158.573382,2700.203026,3651.546009,4.193678
1,1,B45,457243.0,6.0,1281.684710,1603.856731,2169.615406,5.524500
2,2,B47,1469363.0,6.0,3987.331626,5015.257377,6820.622027,5.183926
3,3,B51,1525092.0,6.0,4248.348863,5312.650965,7181.692822,5.448237
4,4,B52,655527.0,6.0,1785.945109,2257.945199,3086.865407,4.375000
5,5,B59,733800.0,4.0,1944.999632,2450.919578,3339.539224,5.080688
6,6,B60,1071294.0,6.0,2986.415456,3734.868957,5049.232857,3.732813
7,7,B61,1765110.0,8.0,5156.109009,6402.637036,8590.552029,4.967457
8,8,B65,1289236.0,6.0,3561.007508,4468.086956,6061.117834,5.434217
9,9,B73,3326356.0,12.0,9877.798333,12196.970156,16265.354204,5.798017
10,10,B80,1555385.0,6.0,4097.183690,5158.947439,7023.908474,6.606180
11,11,B84,1610770.0,6.0,4751.728275,5863.850591,7814.807091,5.202910
12,12,B86,1246058.0,6.0,3360.427153,4243.398581,5794.148783,6.129762
13,13,B94,4478997.0,6.0,13108.304348,16280.265793,21847.709145,15.213257
14,14,B95,1453452.0,6.0,4388.580427,5391.290511,7148.878376,4.196847

## Estimating the number of chargers required on each route

In [116]:
query = "SELECT * FROM cost_library ;"
calc_lib = pd.read_sql(query, engine)
calc_lib

,index,instal_costs,charger_costs,vehicle_ main_d,diesel_bus_cost,vehicle_main_e,battery_replace_cost,charging _onm,fuel_infra_costs
0,0,55000,50000,0.88,500000,0.64,83,500,0.02

Estimating charging time for each type of bus

In [56]:
for index in bus_lib.index:
    calc_lib[globals()["num_chargers_" + bus_lib.iloc[index]["index"]]] = (route_data.MBTA_energy_30ft.sum()/7)/(calc_lib["charge_power_dc"]* 5 *charging_efficiency)