In [22]:
import csv 
import MySQLdb
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [55]:
#making connection to mySQL database 
mydb = MySQLdb.connect(host='localhost', user='root', passwd='123456', db='mydb')
cursor = mydb.cursor()

In [142]:
#connecting to database server
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:123456@localhost/mydb') # connect to server

In [16]:
#unizipping the files from computer after downloading them from the websites

In [122]:
#standard columns values in standard txt files in the GTFS data
req = ['agency.txt','stops.txt','routes.txt','stop_times.txt','trips.txt']
standard_stops = ['stop_id','stop_name','stop_lat','stop_lon','zone_id','parent_station']
standard_agency = ['agency_id', 'agency_name', 'agency_url', 'agency_timezone']
standard_routes = ['route_id', 'agency_id', 'route_short_name', 'route_long_name']
standard_stop_times = ['trip_id', 'arrival_time', 'departure_time', 'stop_id','stop_sequence']
standard_trips = ['route_id', 'service_id','trip_id','direction_id']

In [157]:
#creating a data selecter fuction to extract relevant columns from text files and store it into dataframe and tables 
def data_selec(index):
    p = req[index].split(".")[0]
    r = "standard_" + p
    return pd.read_csv(req[index], low_memory = False)[globals()[r]]

for i in range(len(req)):
    globals()[req[i].split(".")[0]] = data_selec(i)
    if i > 0:
        p = globals()[req[i].split(".")[0]]
        q = agency["agency_name"][0].lower() + '_' + req[i].split(".")[0]
        p.to_sql(q, con=engine, if_exists='replace', chunksize=25000)

In [155]:
#storing in mysql database 
stop_times.to_sql('mbta_stop_times', con=engine, if_exists='replace', chunksize=25000)
#engine.execute("SELECT * FROM stops;").fetchall()

In [16]:
query = "SELECT stop_id = 1 FROM stops WHERE stop_id = 1;"

pd.read_sql(query, engine).head()

   stop_id = 1
0            1

In [13]:
query = "INSERT INTO table VALUES (%s)"

cursor.execute(query, (file_content,))

db.commit()
db.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'table VALUES ('stop_id,stop_code,stop_name,stop_desc,platform_code,platform_name' at line 1")

In [24]:
#opening and storing required files from GTFS folder 

with open(req[0], 'r') as agency, open(req[1], 'r') as stops, open(req[2],'r') as routes, open(req[3],'r') as trips, open(req[4],'r') as stop_times :
    [agency_content, stops_content, routes_content, trips_content, stop_times_content] = [agency.read(), stops.read(), routes.read(), trips.read(), stop_times.read()]
    agency.close(), stops.close(), routes.close(), trips.close(), stop_times.close()

In [77]:
#cursor.execute("CREATE TABLE stops ;")
cursor.execute("CREATE TABLE stops (stop_id INT, stop_code VARCHAR(800), stop_name VARCHAR (800), stop_desc MEDIUMTEXT, stop_lat FLOAT, stop_long FLOAT, zone_id INT, stop_url VARCHAR(800), location_type ENUM ('0','1','2','3'), parent_station INT,stop_timezone VARCHAR(800), wheelchair_booarding ENUM('0','1','2'), level_id INT,  platform_code TEXT );")
cursor.execute ("LOAD DATA INFILE 'stops.txt' \
                 INTO TABLE stops \
                 FIELDS TERMINATED BY ','\
                 IGNORE 1 LINES ;")

OperationalError: (1290, 'The MySQL server is running with the --secure-file-priv option so it cannot execute this statement')