In [16]:
import pandas as pd 
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker

In [17]:
#creating database connection 
engine = sa.create_engine('mysql+mysqlconnector://root:123456@localhost/mdb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600)

In [18]:
#Import cities data
query = "SELECT * FROM cdm_e_data ;"
route_data = pd.read_sql(query, engine).drop(columns = "index")
route_data.head()

,level_0,route_id,VKT,num_buses,avg_rider,energy_30ft,energy_40ft,energy_60ft,avg_speed,30ft_LOS,40ft_LOS,60ft_LOS
0,0,B42,802.670,4.0,30,2158.573382,2700.203026,3651.546009,4.193678,no,no,no
1,1,B45,457.243,7.0,35,1281.684710,1603.856731,2169.615406,5.524500,no,no,no
2,2,B47,1469.363,6.0,25,3987.331626,5015.257377,6820.622027,5.183926,no,no,no
3,3,B51,1525.092,6.0,35,4248.348863,5312.650965,7181.692822,5.448237,no,no,no
4,4,B52,655.527,6.0,20,1785.945109,2257.945199,3086.865407,4.375000,no,no,no

In [19]:
#estimating fuel economy 
route_data["fuel_economy"] = -0.0032* (route_data["avg_speed"]**2) +0.2143*route_data["avg_speed"]+0.9726

## Estimating emissions from operations

The emissions from diesel and electric bus operations are divided in two parts. The fuel cycle consists of Well to Pump and Pump to Wheel emissions. The vehicle cycle consists of emissions due to vehicle manufacturing and other external components such as battery.

In [20]:
#Estimating emissions for electric buses 
#Fuel cycle emissions 
wtp = {"diesel":  16,  "electric":  0.23691129}
ptw = {"diesel" : 10.21, "electric" : 0}
pm = {"diesel" : 0.583, "electric" : 0}

In [21]:
#defining column name varaibles

bus_type = ["30ft","40ft","60ft"]


#calculating electric bus emissions for different bus types in gm
for i in bus_type:
    p = "energy_"+i
    q = "e_emi"+i
    route_data[q] = route_data[p]*wtp["electric"]*52/1000
    
#calculating diesel bus emissions in gm 
a  = "d_emi"
route_data[a] = ((((route_data["VKT"]*0.621371*route_data["avg_rider"]*wtp["diesel"])/100000)+ (route_data["VKT"]*0.621371/route_data["fuel_economy"])*ptw["diesel"]/1000))*52

# #calculating PM2.5 emissions for diesel in gm
a  =  "pm_emi"
route_data[a] = route_data["VKT"]*pm["diesel"]

In [22]:
route_data.head()

,level_0,route_id,VKT,num_buses,avg_rider,energy_30ft,energy_40ft,energy_60ft,avg_speed,30ft_LOS,40ft_LOS,60ft_LOS,fuel_economy,e_emi30ft,e_emi40ft,e_emi60ft,d_emi,pm_emi
0,0,B42,802.670,4.0,30,2158.573382,2700.203026,3651.546009,4.193678,no,no,no,1.815027,26.592301,33.264846,44.984809,270.382310,467.956610
1,1,B45,457.243,7.0,35,1281.684710,1603.856731,2169.615406,5.524500,no,no,no,2.058836,15.789570,19.758532,26.728332,156.001516,266.572669
2,2,B47,1469.363,6.0,25,3987.331626,5015.257377,6820.622027,5.183926,no,no,no,1.997521,49.121482,61.784897,84.025883,432.578971,856.638629
3,3,B51,1525.092,6.0,35,4248.348863,5312.650965,7181.692822,5.448237,no,no,no,2.045171,52.337054,65.448604,88.474054,521.961568,889.128636
4,4,B52,655.527,6.0,20,1785.945109,2257.945199,3086.865407,4.375000,no,no,no,1.848912,22.001749,27.816501,38.028290,184.743518,382.172241

In [23]:
city = "Milano"
country = "Italy"

In [24]:
#Import effect factor data
query = "SELECT * FROM effect_factor ;"
ef = pd.read_sql(query, engine)

#collect effect factor for a given city 
eff = ef.loc[ef["City"] == city,["mean"]].values[0][0]

In [25]:
eff

79.80246929937825

In [26]:
#Import intake fractions data
query = "SELECT * FROM intake_fractions ;"
inf = pd.read_sql(query, engine)

#collect intake fraction for a given city 
iff = inf.loc[inf["CityName"] == city,["iF_ppm"]].values[0][0]

In [27]:
#Import vsl fractions data
query = "SELECT * FROM vsl ;"
vsl = pd.read_sql(query, engine)

#collecting vsl data for a given country 
vs = vsl.loc[vsl["Country"] == country,["VSL USD million 2020"]].values[0][0]

In [28]:
route_data["e_impact"] = (route_data["pm_emi"]*iff*52*eff* vs)/ (1000*1000000)

In [29]:
route_data

,level_0,route_id,VKT,num_buses,avg_rider,energy_30ft,energy_40ft,energy_60ft,avg_speed,30ft_LOS,40ft_LOS,60ft_LOS,fuel_economy,e_emi30ft,e_emi40ft,e_emi60ft,d_emi,pm_emi,e_impact
0,0,B42,802.670,4.0,30,2158.573382,2700.203026,3651.546009,4.193678,no,no,no,1.815027,26.592301,33.264846,44.984809,270.382310,467.956610,0.294966
1,1,B45,457.243,7.0,35,1281.684710,1603.856731,2169.615406,5.524500,no,no,no,2.058836,15.789570,19.758532,26.728332,156.001516,266.572669,0.168028
2,2,B47,1469.363,6.0,25,3987.331626,5015.257377,6820.622027,5.183926,no,no,no,1.997521,49.121482,61.784897,84.025883,432.578971,856.638629,0.539962
3,3,B51,1525.092,6.0,35,4248.348863,5312.650965,7181.692822,5.448237,no,no,no,2.045171,52.337054,65.448604,88.474054,521.961568,889.128636,0.560442
4,4,B52,655.527,6.0,20,1785.945109,2257.945199,3086.865407,4.375000,no,no,no,1.848912,22.001749,27.816501,38.028290,184.743518,382.172241,0.240893
5,5,B59,733.800,4.0,20,1944.999632,2450.919578,3339.539224,5.080688,no,no,no,1.978789,23.961203,30.193827,41.141076,198.209240,427.805400,0.269657
6,6,B60,1071.294,7.0,35,2986.415456,3734.868957,5049.232857,3.732813,no,no,no,1.727953,36.790808,46.011296,62.203454,398.373273,624.564402,0.393680
7,7,B61,1765.110,8.0,50,5156.109009,6402.637036,8590.552029,4.967457,no,no,no,1.958164,63.520103,78.876564,105.830336,753.637733,1029.059130,0.648643
8,8,B65,1289.236,5.0,30,3561.007508,4468.086956,6061.117834,5.434217,no,no,no,2.042654,43.869430,55.044093,74.669257,408.170699,751.624588,0.473769
9,9,B73,3326.356,12.0,60,9877.798333,12196.970156,16265.354204,5.798017,no,no,no,2.107541,121.688421,150.259197,200.379194,1552.479362,1939.265548,1.222371
10,10,B80,1555.385,8.0,20,4097.183690,5158.947439,7023.908474,6.606180,no,no,no,2.248651,50.474792,63.555070,86.530247,389.010415,906.789455,0.571574
11,11,B84,1610.770,7.0,60,4751.728275,5863.850591,7814.807091,5.202910,no,no,no,2.000959,58.538380,72.239045,96.273634,765.210003,939.078910,0.591927
12,12,B86,1246.058,6.0,20,3360.427153,4243.398581,5794.148783,6.129762,no,no,no,2.165971,41.398403,52.276070,71.380362,318.624221,726.451814,0.457902
13,13,B94,4478.997,6.0,50,13108.304348,16280.265793,21847.709145,15.213257,yes,yes,yes,3.492183,161.486275,200.562896,269.150386,1580.897754,2611.255251,1.645944
14,14,B95,1453.452,7.0,70,4388.580427,5391.290511,7148.878376,4.196847,no,no,no,1.815621,54.064621,66.417395,88.069800,790.076806,847.362516,0.534115

In [30]:
#sending resutls to database
route_data.to_sql("health_result", con=engine, if_exists ="replace")