In [16]:
import pandas as pd 
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker

In [17]:
#creating database connection 
engine = sa.create_engine('mysql+mysqlconnector://root:123456@localhost/mydb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600) 
Session = sessionmaker(bind=engine)

In [40]:
#Import cities data
query = "SELECT * FROM mbta_e_data ;"
route_data = pd.read_sql(query, engine)
route_data.head()

,index,route_id,trip_count,MBTA_energy_30ft,MBTA_energy_40ft,MBTA_energy_60ft,route_length,avg_speed
0,0,1,617,1.660912,1.529322,2.792637,12.439173,2.421429
1,1,15,500,1.462686,1.887452,2.675323,11.043278,2.332716
2,2,22,480,1.770981,1.522282,2.578847,2.077963,2.441255
3,3,23,586,1.382673,1.780375,2.915535,14.152017,2.811587
4,4,28,559,1.402867,1.868932,2.913556,16.761939,3.658871

In [41]:
#estimating fuel economy 
route_data["fuel_economy"] = -0.0032* route_data["avg_speed"] +0.2143*route_data["avg_speed"]+0.9726

In [42]:
#defining column name varaibles
Transit = "MBTA"
bus_type = ["30ft","40ft","60ft"]
emission_factor = {"diesel" : 0.00007, "electric": 0.000018}

#calculating electric bus emissions for different bus types 
for i in bus_type:
    p = Transit+"_energy_"+i
    q = Transit + "e_emi"+i
    route_data[q] = route_data["trip_count"]*route_data[p]*emission_factor["electric"]
    
#calculating diesel bus emissions 
a  = Transit + "_d_emi"
route_data[a] = (route_data["route_length"]/route_data["fuel_economy"])*route_data["trip_count"]*emission_factor["diesel"]

In [43]:
route_data.head()

,index,route_id,trip_count,MBTA_energy_30ft,MBTA_energy_40ft,MBTA_energy_60ft,route_length,avg_speed,fuel_economy,MBTAe_emi30ft,MBTAe_emi40ft,MBTAe_emi60ft,MBTA_d_emi
0,0,1,617,1.660912,1.529322,2.792637,12.439173,2.421429,1.483764,0.018446,0.016985,0.031015,0.362085
1,1,15,500,1.462686,1.887452,2.675323,11.043278,2.332716,1.465036,0.013164,0.016987,0.024078,0.263826
2,2,22,480,1.770981,1.522282,2.578847,2.077963,2.441255,1.487949,0.015301,0.013153,0.022281,0.046923
3,3,23,586,1.382673,1.780375,2.915535,14.152017,2.811587,1.566126,0.014584,0.018779,0.030753,0.370670
4,4,28,559,1.402867,1.868932,2.913556,16.761939,3.658871,1.744988,0.014116,0.018805,0.029316,0.375874

In [97]:
city = "Boston"
country = "United States"

In [82]:
#Import effect factor data
query = "SELECT * FROM effect_factor ;"
ef = pd.read_sql(query, engine)

In [90]:
eff = ef.loc[ef["City"] == city,["mean"]].values[0][0]

In [95]:
#Import inport intake fractions data
query = "SELECT * FROM intake_fractions ;"
inf = pd.read_sql(query, engine)
iff = inf.loc[inf["CityName"] == city,["iF_ppm"]].values[0][0]

In [104]:
#Import vsl fractions data
query = "SELECT * FROM vsl ;"
vsl = pd.read_sql(query, engine)
vs = vsl.loc[vsl["Country"] == country,["VSL USD million 2020"]].values[0][0]

In [105]:
vs

6.267

In [106]:
route_data["d_ei"] = route_data["MBTA_d_emi"]*eff*iff*vs

In [108]:
#calculating electric bus economic impact for different bus types 
for i in bus_type:
    p = "ei_"+i
    q = Transit + "e_emi"+i
    route_data[p] = route_data[q]*eff*iff*vs

In [110]:
#sending resutls to database
route_data.to_sql("health_result", con=engine, if_exists ="replace")