In [21]:
import pandas as pd 
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker

In [22]:
#creating database connection 
engine = sa.create_engine('mysql+mysqlconnector://root:123456@localhost/mydb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600) 
Session = sessionmaker(bind=engine)

In [23]:
#Import cities data
query = "SELECT * FROM mbta_e_data ;"
route_data = pd.read_sql(query, engine).drop(columns = "index")
route_data.head()

,route_id,VKT,num_buses,avg_rider,energy_30ft,energy_40ft,energy_60ft,avg_speed,fuel_economy,e_emi30ft,e_emi40ft,e_emi60ft,d_emi,pm_emi,30ft_LOS,40ft_LOS,60ft_LOS,diesel_LOS
0,201,671.572,2.0,10.0,1391.904644,1768.149663,2428.823606,5.920670,2.222454,329757.924737,418894.617631,575415.733605,1.983831e+06,391.526476,yes,yes,yes,yes
1,202,204.479,4.0,10.0,393.132635,499.785551,687.064708,5.179345,2.065960,93137.559796,118404.839719,162773.386245,6.482481e+05,119.211257,yes,yes,yes,yes
2,210,533.152,4.0,11.0,1149.806222,1461.450040,2008.648337,7.328337,2.519612,272402.075380,346234.014190,475871.468574,1.400744e+06,310.827616,yes,yes,yes,yes
3,211,804.990,8.0,17.0,1351.234773,1706.557173,2330.542098,6.300936,2.302728,320122.773141,404302.661282,552131.734859,2.353865e+06,469.309170,yes,yes,yes,yes
4,212,189.424,2.0,17.0,341.131084,428.283673,581.364908,5.997131,2.238594,80817.805175,101465.237489,137731.910300,5.688446e+05,110.434192,yes,yes,yes,yes

In [24]:
#estimating fuel economy 
route_data["fuel_economy"] = -0.0032* route_data["avg_speed"] +0.2143*route_data["avg_speed"]+0.9726

## Estimating emissions from operations

The emissions from diesel and electric bus operations are divided in two parts. The fuel cycle consists of Well to Pump and Pump to Wheel emissions. The vehicle cycle consists of emissions due to vehicle manufacturing and other external components such as battery.

In [25]:
#Estimating emissions for electric buses 
#Fuel cycle emissions 
wtp = {"diesel":  16,  "electric":  0.23691129}
ptw = {"diesel" : 10.21, "electric" : 0}
pm = {"diesel" : 0.583, "electric" : 0}

In [26]:
#defining column name varaibles

bus_type = ["30ft","40ft","60ft"]


#calculating electric bus emissions for different bus types in gm
for i in bus_type:
    p = "energy_"+i
    q = "e_emi"+i
    route_data[q] = route_data[p]*wtp["electric"]*52/1000
    
#calculating diesel bus emissions in gm 
a  = "d_emi"
route_data[a] = ((((route_data["VKT"]*0.621371*route_data["avg_rider"]*wtp["diesel"])/100000)+ (route_data["VKT"]*0.621371/route_data["fuel_economy"])*ptw["diesel"]/1000))*52

# #calculating PM2.5 emissions for diesel in gm
a  =  "pm_emi"
route_data[a] = route_data["VKT"]*pm["diesel"]

In [27]:
route_data.head()

,route_id,VKT,num_buses,avg_rider,energy_30ft,energy_40ft,energy_60ft,avg_speed,fuel_economy,e_emi30ft,e_emi40ft,e_emi60ft,d_emi,pm_emi,30ft_LOS,40ft_LOS,60ft_LOS,diesel_LOS
0,201,671.572,2.0,10.0,1391.904644,1768.149663,2428.823606,5.920670,2.222454,17.147412,21.782520,29.921618,134.406304,391.526476,yes,yes,yes,yes
1,202,204.479,4.0,10.0,393.132635,499.785551,687.064708,5.179345,2.065960,4.843153,6.157052,8.464216,43.222954,119.211257,yes,yes,yes,yes
2,210,533.152,4.0,11.0,1149.806222,1461.450040,2008.648337,7.328337,2.519612,14.164908,18.004169,24.745316,100.125977,310.827616,yes,yes,yes,yes
3,211,804.990,8.0,17.0,1351.234773,1706.557173,2330.542098,6.300936,2.302728,16.646384,21.023738,28.710850,186.074124,469.309170,yes,yes,yes,yes
4,212,189.424,2.0,17.0,341.131084,428.283673,581.364908,5.997131,2.238594,4.202526,5.276192,7.162059,44.562984,110.434192,yes,yes,yes,yes

In [28]:
route_data.to_sql("mbta_e_data",con=engine, if_exists = 'replace')

In [29]:
city = "Boston"
country = "United States"

In [30]:
#Import effect factor data
query = "SELECT * FROM effect_factor ;"
ef = pd.read_sql(query, engine)

#collect effect factor for a given city 
eff = ef.loc[ef["City"] == city,["mean"]].values[0][0]

In [31]:
#Import intake fractions data
query = "SELECT * FROM intake_fractions ;"
inf = pd.read_sql(query, engine)

#collect intake fraction for a given city 
iff = inf.loc[inf["CityName"] == city,["iF_ppm"]].values[0][0]

In [32]:
#Import vsl fractions data
query = "SELECT * FROM vsl ;"
vsl = pd.read_sql(query, engine)

#collecting vsl data for a given country 
vs = vsl.loc[vsl["Country"] == country,["VSL USD million 2020"]].values[0][0]

In [33]:
route_data["e_impact"] = (route_data["pm_emi"]*iff*52*eff*vs)/1000

In [34]:
route_data

,route_id,VKT,num_buses,avg_rider,energy_30ft,energy_40ft,energy_60ft,avg_speed,fuel_economy,e_emi30ft,e_emi40ft,e_emi60ft,d_emi,pm_emi,30ft_LOS,40ft_LOS,60ft_LOS,diesel_LOS,e_impact
0,201,671.572,2.0,10.0,1391.904644,1768.149663,2428.823606,5.920670,2.222454,17.147412,21.782520,29.921618,134.406304,391.526476,yes,yes,yes,yes,8.562531e+05
1,202,204.479,4.0,10.0,393.132635,499.785551,687.064708,5.179345,2.065960,4.843153,6.157052,8.464216,43.222954,119.211257,yes,yes,yes,yes,2.607104e+05
2,210,533.152,4.0,11.0,1149.806222,1461.450040,2008.648337,7.328337,2.519612,14.164908,18.004169,24.745316,100.125977,310.827616,yes,yes,yes,yes,6.797679e+05
3,211,804.990,8.0,17.0,1351.234773,1706.557173,2330.542098,6.300936,2.302728,16.646384,21.023738,28.710850,186.074124,469.309170,yes,yes,yes,yes,1.026361e+06
4,212,189.424,2.0,17.0,341.131084,428.283673,581.364908,5.997131,2.238594,4.202526,5.276192,7.162059,44.562984,110.434192,yes,yes,yes,yes,2.415153e+05
5,214,322.743,4.0,40.0,544.630753,680.983114,920.342054,6.568696,2.359252,6.709517,8.389295,11.338050,111.870477,188.159169,yes,yes,yes,yes,4.114968e+05
6,215,1395.334,20.0,20.0,2161.350609,2718.171950,3696.158497,6.819996,2.412301,26.626515,33.486212,45.534407,335.093381,813.479722,yes,yes,yes,yes,1.779048e+06
7,216,807.525,4.0,18.0,1237.950480,1567.417746,2145.925622,8.105051,2.683576,15.250791,19.309626,26.436488,174.416403,470.787075,yes,yes,yes,yes,1.029593e+06
8,217,114.998,2.0,26.0,218.786761,274.744028,373.019999,6.939686,2.437568,2.695319,3.384678,4.595378,31.021182,67.043834,yes,yes,yes,yes,1.466223e+05
9,220,2756.083,8.0,18.0,3915.932731,4936.985155,6730.115766,10.125741,3.110144,48.241891,60.820631,82.910901,548.813943,1606.796389,yes,yes,yes,yes,3.514001e+06
10,221,74.948,2.0,12.0,124.897282,158.060413,216.297502,8.276027,2.719669,1.538658,1.947207,2.664653,13.740859,43.694684,yes,yes,yes,yes,9.555857e+04
11,222,1993.842,4.0,23.0,2616.254029,3295.400648,4488.021977,9.160976,2.906482,32.230646,40.597316,55.289680,463.388588,1162.409886,yes,yes,yes,yes,2.542145e+06
12,225,1479.408,4.0,28.0,3056.227631,3831.944344,5194.381756,5.499128,2.133466,37.650851,47.207206,63.991599,442.912282,862.494864,yes,yes,yes,yes,1.886243e+06
13,226,799.607,2.0,25.0,1713.363383,2156.449377,2934.540525,8.399351,2.745703,21.107587,26.566135,36.151741,199.418728,466.170881,yes,yes,yes,yes,1.019498e+06
14,230,1854.350,4.0,25.0,3366.430502,4231.808063,5751.607846,7.921780,2.644888,41.472360,52.133282,70.856283,470.959866,1081.086050,yes,yes,yes,yes,2.364293e+06
15,236,692.657,2.0,23.0,1449.444698,1823.766271,2481.257859,7.455959,2.546553,17.856270,22.467683,30.567576,172.092398,403.819031,yes,yes,yes,yes,8.831365e+05
16,238,1901.825,24.0,28.0,3639.111875,4562.969337,6185.476180,8.195297,2.702627,44.831628,56.212985,76.201275,507.445638,1108.763975,yes,yes,yes,yes,2.424824e+06
17,240,2698.432,12.0,35.0,5322.178789,6630.882784,8928.983719,8.762124,2.822284,65.565981,81.688412,109.999607,803.684132,1573.185856,yes,yes,yes,yes,3.440496e+06
18,245,373.227,4.0,16.0,750.315367,951.332318,1304.384023,7.492085,2.554179,9.243425,11.719831,16.069212,79.078256,217.591341,yes,yes,yes,yes,4.758638e+05

In [35]:
#sending resutls to database
route_data.to_sql("health_result", con=engine, if_exists ="replace")