In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import statsmodels.api as sm
import matplotlib.mlab as mlab
from sklearn.feature_selection import RFECV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [39]:
from sklearn import datasets
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import ElasticNet

In [40]:
#connecting to database server
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:123456@localhost/mydb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600)

## Simulating energy values for various road grades , vehicle mass and auxillary power

In [82]:
#writing the energy consumption equation

#Define constants
g=9.81 #m/s^2
#m_bus=14000 #kg (empty)
m_pax=70 #kg
C_rr=0.00697 #(without rain)
#C_rr=0.00763 #(with rain)
rho=1.2 #kg/m^3
A=7.92 #m^2
C_d=0.65
#p_aux = np.arange(4000,10000,1000) #4000 # W (without HVAC)
#p_auxi=12 #kW (with HVAC)
eta_m=0.85
eta_bat = 0.95
power= np.empty((0,1))

riders = [5*x for x in np.arange(0,9,1)]
masses = [] 
p_aux = [] 

q_heat = 30000 #30kW
p_auxx = 9000 #9 kW
h_gain  =1.8 #W
R_th = 0.0174 #K/W
T_in = 18.9 #celcius 
T_out = -20
C_p = 1.005 #KJ/KG.K
rho = 1.2
V_inf = 0
V_hv = 1.13 #m^3/sec
psi = 0.20 # 20%

for rider in riders:
    masses.append(14000+70*rider)
    p_aux.append((q_heat - ((T_in-T_out)/R_th) - (rho*C_p*(T_in-T_out)*V_inf ) - (psi*V_hv* rho*C_p*(T_in-T_out)) + (h_gain*rider)+ p_auxx))


#generate a possible sampling distrbution to select data from ????
grades = np.arange(-0.1,0.1,0.005)
#masses = np.arange(14000, 15000,70)
time  = 0.1 #0.1 sec 
p_max = 90000 #90kw
e_bat = 215 #215 kwh
data = np.empty((0,3))

for grade in grades:
    for m_bus in masses: 
        for p_auxi in p_aux:
            data = np.append(data, np.array([[np.sin(grade), m_bus,p_auxi]]), axis=0)

In [77]:
query = "SELECT * FROM simu_data"
ener = pd.read_sql(query, engine)

In [78]:
ener = ener.drop(columns = "index")
ener

             0
0    -4.077792
1    -4.076930
2    -4.076068
3    -4.075206
4    -4.074344
...        ...
3235  6.064800
3236  6.065662
3237  6.066524
3238  6.067386
3239  6.068248

[3240 rows x 1 columns]

## Fitting the polynomial regression model

In [83]:

# Add a bias term to the dataset
x = sm.add_constant(data)

# Create polynomial features
poly_feats = PolynomialFeatures(degree = 6)
x = poly_feats.fit_transform(x)

# Split into training and validation set
x_train, x_val, y_train, y_val = train_test_split(x, ener, test_size=0.2, random_state=0)


# Fit the elastic net regression model
my_reg = ElasticNet( alpha = 0.001, l1_ratio = 0.8, 
                    max_iter = 1e5).fit(x_train, y_train)

# Make predictions
val_preds = my_reg.predict(x_val)
train_preds = my_reg.predict(x_train)
val_mse = mean_squared_error(y_val, val_preds)
train_mse = mean_squared_error(y_train, train_preds)
print("Train MSE:", train_mse, "\n", "Valid MSE:", val_mse, "\n", "coef :", my_reg.coef_)

Train MSE: 0.019283392279136884
 Valid MSE: 0.018673069388103754
 coef : [ 0.00000000e+00  0.00000000e+00  0.00000000e+00  1.53439591e-04
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  3.68700428e-09
 -0.00000000e+00 -0.00000000e+00  3.31930314e-03  5.52662021e-05
  4.04603364e-09 -1.14528691e-09 -1.06694208e-07  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  2.80004650e-07  1.34950214e-09 -1.08496683e-09
  1.74745256e-10  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -5.47577076e-09  2.82960775e-10  8.34372977e-10  2.44422555e-14
 -1.31528280e-15 -2.94068934e-14  4.95266506e-13  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  1.98490536e-07  2.06314036e-09 -1.09809440e-09
 -2.66105590e-08  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -5.39503216e-09  2.68421723e-10  8.28230465e-10  2.48357275e-14
 -1.25658838e-15 -2.93582889e-14  4.94272016e-13 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  3.01041825e-07  6.47787527e-09
 -1.34419860e-08 -2.86114320e-13 -6.47564445e-14  7.48043660e-15
  2.26281691e-14 -3.36810459e-18  1.45178967e-18 -5.09405538e-20
 -8.06991651e-19  1.04050947e-17  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
  1.84012731e-05  2.84305902e-09 -1.11133649e-09 -5.35336236e-08
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -5.15276224e-09
  2.20248772e-10  8.07877354e-10  2.52506925e-14 -1.20027542e-15
 -2.93103119e-14  4.94272794e-13 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  6.56216531e-08  6.01864829e-09 -1.36407001e-08
 -3.56705232e-13 -6.75329056e-14  6.28679057e-15  2.21239695e-14
 -1.90914829e-18  1.45477455e-18 -4.91392489e-20 -8.05805505e-19
  1.01787316e-17  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -6.85102763e-08 -3.67885816e-07 -2.64338679e-08  4.81368224e-13
  2.25886304e-12  1.40223259e-13 -3.81066303e-13  2.18141363e-17
 -7.62081387e-18 -1.77869812e-18  1.98083586e-19  6.13953009e-19
 -3.77466862e-22  1.45587691e-22  3.86763204e-23 -1.83376724e-24
 -2.21940160e-23  2.20176487e-22  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  1.54162588e-05
  3.02133434e-05  3.62759546e-09 -1.12546772e-09 -8.04491649e-08
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -4.90754042e-09
  1.71441252e-10  7.87247940e-10  2.57571551e-14 -1.17256534e-15
 -2.92865562e-14  4.94283966e-13 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  2.94248501e-08  6.42939632e-09 -1.34659548e-08
 -3.48026280e-13 -7.05238535e-14  5.00001777e-15  2.15800850e-14
 -1.69025550e-18  1.45602791e-18 -4.83455197e-20 -8.05176185e-19
  1.01459614e-17  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  1.17833698e-07 -3.66621671e-07 -2.92297048e-08  4.62069097e-13
  2.29021387e-12  1.53906265e-13 -3.75268970e-13  1.94599912e-17
 -7.81144888e-18 -1.86210487e-18  1.62206879e-19  5.98791674e-19
 -3.77775263e-22  1.45646793e-22  3.87105767e-23 -1.81142040e-24
 -2.21740606e-23  2.20566788e-22 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -1.68947291e-05  7.03749081e-06  4.58239542e-06
  1.16382794e-10 -3.79328438e-11 -9.51169746e-12 -5.19803727e-13
 -1.20040824e-15  2.17235980e-16  5.53523980e-17  1.12121913e-18
 -1.15213633e-17  2.00354189e-21 -5.84727283e-22 -2.06227924e-22
 -4.77785606e-23  5.69791287e-24  1.68485614e-23 -3.32410621e-26
  1.14512314e-26  3.91094834e-27  1.02658330e-27 -6.40590472e-29
 -6.11565013e-28  4.98681465e-27]

C:\Users\upadh\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 24.998791455504755, tolerance: 2.2571758070454395
  positive)

In [47]:
print(my_reg.predict(x))

[-0.80384324 -0.80358854 -0.80332534 -0.80305362 -0.80277337 -0.8024846
 -0.80218729 -0.80188143 -0.80156701 -0.77605069 -0.77573848 -0.77541775
 -0.77508848 -0.77475067 -0.77440431 -0.77404939 -0.77368592 -0.77331387
 -0.74816414 -0.74779274 -0.7474128  -0.74702431 -0.74662726 -0.74622165
 -0.74580746 -0.74538468 -0.74495333 -0.72032422 -0.71989192 -0.71945105
 -0.71900162 -0.71854361 -0.71807701 -0.71760183 -0.71711804 -0.71662565
 -0.6926901  -0.69219513 -0.69169157 -0.69117943 -0.69065869 -0.69012934
 -0.68959139 -0.68904482 -0.68848963 -0.66544037 -0.66488091 -0.66431284
 -0.66373616 -0.66315087 -0.66255696 -0.66195442 -0.66134325 -0.66072343
 -0.63877392 -0.63814808 -0.63751363 -0.63687056 -0.63621885 -0.6355585
 -0.63488951 -0.63421185 -0.63352554 -0.61291082 -0.61221671 -0.61151396
 -0.61080256 -0.61008251 -0.6093538  -0.60861642 -0.60787037 -0.60711564
 -0.58809335 -0.58732898 -0.58655595 -0.58577425 -0.58498388 -0.58418483
 -0.5833771  -0.58256067 -0.58173555 -0.25362144 -0.25319285 -0.25275568
 -0.25230992 -0.25185557 -0.25139262 -0.25092106 -0.25044088 -0.24995208
 -0.22653293 -0.22605225 -0.22556297 -0.22506508 -0.22455858 -0.22404347
 -0.22351973 -0.22298736 -0.22244634 -0.19966506 -0.19913079 -0.19858791
 -0.1980364  -0.19747627 -0.19690751 -0.1963301  -0.19574404 -0.19514932
 -0.17316554 -0.17257615 -0.17197814 -0.17137148 -0.17075618 -0.17013222
 -0.16949961 -0.16885833 -0.16820838 -0.14719985 -0.14655377 -0.14589904
 -0.14523565 -0.1445636  -0.14388288 -0.14319349 -0.14249541 -0.14178864
 -0.1219521  -0.1212477  -0.12053463 -0.11981288 -0.11908246 -0.11834335
 -0.11759555 -0.11683904 -0.11607383 -0.09762592 -0.09686152 -0.09608844
 -0.09530666 -0.09451619 -0.09371702 -0.09290914 -0.09209253 -0.0912672
 -0.07444534 -0.07361922 -0.07278441 -0.07194089 -0.07108865 -0.07022769
 -0.069358   -0.06847957 -0.0675924  -0.05265574 -0.05176614 -0.05086783
 -0.04996079 -0.04904501 -0.04812049 -0.04718723 -0.04624521 -0.04529443
  0.03083138  0.03128646  0.03175015  0.03222244  0.03270335  0.03319288
  0.03369104  0.03419784  0.03471329  0.06040685  0.06090891  0.06141959
  0.06193889  0.06246682  0.06300339  0.0635486   0.06410247  0.064665
  0.08977491  0.09032527  0.09088427  0.09145191  0.09202819  0.09261313
  0.09320674  0.09380901  0.09441996  0.11879155  0.1193916   0.12000029
  0.12061765  0.12124366  0.12187835  0.12252171  0.12317376  0.1238345
  0.14729578  0.14794692  0.14860673  0.14927521  0.14995237  0.15063821
  0.15133275  0.152036    0.15274795  0.17510867  0.17581236  0.17652474
  0.17724581  0.17797557  0.17871404  0.17946122  0.18021712  0.18098174
  0.20203254  0.20279029  0.20355675  0.20433191  0.20511578  0.20590838
  0.2067097   0.20751975  0.20833855  0.22785006  0.22866342  0.2294855
  0.2303163   0.23115583  0.2320041   0.23286111  0.23372688  0.2346014
  0.2523233   0.25319387  0.25407317  0.25496121  0.25585799  0.25676353
  0.25767783  0.25860091  0.25953275  0.15877243  0.15917999  0.15959615
  0.16002091  0.16045427  0.16089625  0.16134686  0.16180609  0.16227397
  0.1926916   0.19314195  0.19360091  0.19406849  0.1945447   0.19502953
  0.195523    0.19602512  0.19653589  0.22661177  0.22710613  0.22760911
  0.22812072  0.22864097  0.22916987  0.22970742  0.23025363  0.23080851
  0.26039946  0.26093907  0.26148732  0.26204421  0.26260976  0.26318397
  0.26376685  0.2643584   0.26495864  0.2939048   0.29449095  0.29508575
  0.29568922  0.29630135  0.29692217  0.29755166  0.29818985  0.29883674
  0.32696073  0.32759475  0.32823744  0.32888881  0.32954886  0.33021761
  0.33089505  0.33158121  0.33227607  0.35938213  0.36006539  0.36075734
  0.36145798  0.36216733  0.36288538  0.36361215  0.36434764  0.36509186
  0.39096493  0.39169885  0.39244147  0.3931928   0.39395286  0.39472163
  0.39549914  0.39628538  0.39708038  0.42148521  0.42227125  0.42306601
  0.42386949  0.42468171  0.42550266  0.42633237  0.42717083  0.42801806
  0.21492943  0.21527683  0.2156328   0.21599736  0.2163705   0.21675224
  0.21714259  0.21754155  0.21794912  0.25371455  0.25410214  0.25449831
  0.25490309  0.25531647  0.25573846  0.25616906  0.2566083   0.25705616
  0.29277171  0.29320062  0.29363813  0.29408426  0.294539    0.29500237
  0.29547437  0.29595501  0.2964443   0.33198056  0.33245196  0.33293197
  0.33342062  0.3339179   0.33442381  0.33493838  0.3354616   0.33599349
  0.37120502  0.37172011  0.37224384  0.37277622  0.37331724  0.37386691
  0.37442525  0.37499226  0.37556794  0.41029247  0.41085251  0.4114212
  0.41199854  0.41258455  0.41317923  0.41378259  0.41439463  0.41501537
  0.44907289  0.44967916  0.45029409  0.4509177   0.45154999  0.45219096
  0.45284062  0.45349899  0.45416606  0.48735798  0.48801181  0.48867432
  0.48934551  0.4900254   0.49071399  0.49141129  0.49211731  0.49283205
  0.52494029  0.52564304  0.52635449  0.52707465  0.52780351  0.52854109
  0.5292874   0.53004244  0.53080622  0.25949296  0.25981691  0.26014941
  0.26049048  0.26084012  0.26119834  0.26156515  0.26194056  0.26232457
  0.30233179  0.30269554  0.30306787  0.30344877  0.30383827  0.30423636
  0.30464305  0.30505835  0.30548227  0.34564363  0.3460483   0.34646156
  0.34688341  0.34731386  0.34775292  0.3482006   0.3486569   0.34912183
  0.38931989  0.38976661  0.39022194  0.39068587  0.39115842  0.3916396
  0.3921294   0.39262785  0.39313494  0.43323683  0.43372678  0.43422535
  0.43473255  0.43524838  0.43577284  0.43630596  0.43684772  0.43739815
  0.47725477  0.47778917  0.47833221  0.47888388  0.4794442   0.48001318
  0.48059081  0.48117712  0.4817721   0.52121726  0.52179737  0.52238612
  0.52298353  0.5235896   0.52420434  0.52482776  0.52545986  0.52610065
  0.56495021  0.56557732  0.56621309  0.56685752  0.56751064  0.56817244
  0.56884293  0.56952212  0.57021001  0.60826101  0.60893645  0.60962056
  0.61031337  0.61101486  0.61172506  0.61244396  0.61317158  0.61390792
  0.32811196  0.32848649  0.32886958  0.32926123  0.32966146  0.33007026
  0.33048765  0.33091363  0.33134822  0.37285775  0.37327458  0.37369997
  0.37413395  0.37457651  0.37502767  0.37548742  0.37595579  0.37643276
  0.41807485  0.41853511  0.41900395  0.41948139  0.41996743  0.42046207
  0.42096533  0.42147721  0.42199772  0.46366093  0.46416579  0.46467925
  0.46520132  0.465732    0.46627131  0.46681925  0.46737582  0.46794104
  0.50949906  0.51004973  0.51060903  0.51117694  0.51175348  0.51233866
  0.51293249  0.51353497  0.51414611  0.55545697  0.55605471  0.55666108
  0.55727608  0.55789973  0.55853204  0.559173    0.55982263  0.56048094
  0.60138618  0.60203226  0.60268699  0.60335038  0.60402242  0.60470313
  0.60539252  0.60609059  0.60679735  0.64712114  0.6478169   0.64852132
  0.64923441  0.64995617  0.65068662  0.65142576  0.65217359  0.65293014
  0.6924784   0.6932252   0.69398067  0.69474483  0.69551768  0.69629923
  0.69708949  0.69788846  0.69869615  0.43189224  0.43241671  0.43294976
  0.43349139  0.43404162  0.43460045  0.43516788  0.43574393  0.43632859
  0.47506387  0.47563663  0.47621798  0.47680792  0.47740648  0.47801365
  0.47862944  0.47925386  0.47988691  0.51836979  0.51899206  0.51962295
  0.52026245  0.52091057  0.52156732  0.52223271  0.52290674  0.52358943
  0.56170436  0.56237743  0.56305913  0.56374945  0.56444842  0.56515603
  0.56587229  0.56659721  0.5673308   0.60494792  0.6056731   0.60640692
  0.60714938  0.6079005   0.60866028  0.60942873  0.61020586  0.61099167
  0.64796594  0.64874458  0.64953187  0.65032783  0.65113246  0.65194576
  0.65276774  0.65359842  0.6544378   0.69060825  0.69144173  0.69228389
  0.69313472  0.69399424  0.69486245  0.69573936  0.69662498  0.69751932
  0.73270813  0.73359789  0.73449633  0.73540347  0.73631931  0.73724386
  0.73817713  0.73911912  0.74006984  0.77408154  0.77502904  0.77598524
  0.77695015  0.77792378  0.77890614  0.77989723  0.78089706  0.78190564]

In [117]:
#importing mass and auxillary power 
query = "SELECT * FROM mbta_route_data ;"
trip_data = pd.read_sql(query, engine)

In [120]:
#import real data for Boston 
query = "SELECT * FROM mbta_datafinal ;"
df = pd.read_sql(query, engine)

In [146]:
MBTA_energy_30ft = []


for trip in trip_data.trip_id.values:
    data1 = np.empty((0,3))
    for i in range(0, df[df.trip_id ==  trip].shape[0]): 
        route  = trip_data[trip_data.trip_id == trip]["route_id"].values[0]
        data1 = np.append(data1, np.array([[np.sin(df[df.trip_id ==  trip][ "slope"].values[i]), trip_data[trip_data.route_id == route]["30ft_wt"].mean(),trip_data[trip_data.route_id == route]["p_ext"].mean()]]), axis =0 )
    # Add a bias term to the dataset
    x1 = sm.add_constant(data1, has_constant='add')
    # Create polynomial features
    poly_feats = PolynomialFeatures(degree = 6)
    x1 = poly_feats.fit_transform(x1)
    p = my_reg.predict(x1)
    MBTA_energy_30ft.append(np.matmul(p,(df[df.trip_id == trip]["dist_m"].values/1000)))

In [147]:
MBTA_energy_40ft = []


for trip in trip_data.trip_id.values:
    data1 = np.empty((0,3))
    for i in range(0, df[df.trip_id ==  trip].shape[0]): 
        route  = trip_data[trip_data.trip_id == trip]["route_id"].values[0]
        data1 = np.append(data1, np.array([[np.sin(df[df.trip_id ==  trip][ "slope"].values[i]), trip_data[trip_data.route_id == route]["40ft_wt"].mean(),trip_data[trip_data.route_id == route]["p_ext"].mean()]]), axis =0 )
    # Add a bias term to the dataset
    x1 = sm.add_constant(data1, has_constant='add')
    # Create polynomial features
    poly_feats = PolynomialFeatures(degree = 6)
    x1 = poly_feats.fit_transform(x1)
    p = my_reg.predict(x1)
    MBTA_energy_40ft.append(np.matmul(p,(df[df.trip_id == trip]["dist_m"].values/1000)))

In [148]:
MBTA_energy_60ft = []


for trip in trip_data.trip_id.values:
    data1 = np.empty((0,3))
    for i in range(0, df[df.trip_id ==  trip].shape[0]): 
        route  = trip_data[trip_data.trip_id == trip]["route_id"].values[0]
        data1 = np.append(data1, np.array([[np.sin(df[df.trip_id ==  trip][ "slope"].values[i]), trip_data[trip_data.route_id == route]["60ft_wt"].mean(),trip_data[trip_data.route_id == route]["p_ext"].mean()]]), axis =0 )
    # Add a bias term to the dataset
    x1 = sm.add_constant(data1, has_constant='add')
    # Create polynomial features
    poly_feats = PolynomialFeatures(degree = 6)
    x1 = poly_feats.fit_transform(x1)
    p = my_reg.predict(x1)
    MBTA_energy_60ft.append(np.matmul(p,(df[df.trip_id == trip]["dist_m"].values/1000)))

In [154]:
trip_data["MBTA_energy_30ft"]= MBTA_energy_30ft
trip_data["MBTA_energy_40ft"]= MBTA_energy_40ft
trip_data["MBTA_energy_60ft"]= MBTA_energy_60ft #,"MBTA_energy_40ft","MBTA_energy_60ft"] = MBTA_energy_30ft, MBTA_energy_40ft,MBTA_energy_60ft

In [156]:
MBTA_energy_30ft

[17.702699072236413,
 12.801722633852567,
 9.466264986894034,
 11.464183000811726,
 20.507363239744965,
 12.911028793610743,
 10.381514395977119,
 28.62172220425925,
 13.086479723556227,
 11.055752557708253,
 19.523991184850132,
 20.50525479711394,
 62.85993062726224,
 39.93762894991304,
 12.038939573993664,
 14.952292722882632,
 43.21713529297357,
 27.18666036793603,
 31.619483501739946,
 24.539641799066924,
 30.787598396041655,
 13.112129914745546,
 18.44332937667718,
 10.832129701707757,
 13.714109182524531,
 16.042064232090276,
 17.983492912621784,
 11.843799822853804,
 16.566138463722485,
 9.7953523283064,
 9.575861676622933,
 34.8380954827725,
 42.807309089269545,
 37.1795180263554,
 37.14707434447349,
 30.51965638945889,
 24.001996215873433,
 20.593194854050292,
 19.60524515301323,
 15.323721109110906,
 16.23157655547438,
 10.706511023395699,
 62.66145468915971,
 52.60433809047682,
 41.60741355985581,
 22.272836621315328,
 28.69886866170429,
 27.87840538979175,
 46.68625651369199,
 29.73471568339534,
 33.77946435090062,
 23.387029764988533,
 32.70733616394081,
 35.04725880562084,
 27.05881236205996,
 24.736530714458837,
 22.053747581015283,
 31.234556943168293,
 33.2046428942837,
 22.70606672124698,
 22.736587458024843,
 37.955891448367794,
 43.86882742612953,
 61.12922520644453,
 54.635325283704944,
 62.48361127716501,
 55.18464522097764,
 40.83079128942286,
 32.2208457085777,
 39.416636097890546,
 46.410616544117616,
 32.94770966919654,
 28.937377084840573,
 50.112761247447814,
 64.5913057886655,
 63.25297975479838,
 64.79426548506412,
 48.84455392846887,
 46.782980633211245,
 61.3908102865288,
 48.88811935970995,
 64.42172836298417,
 57.374368456447016,
 45.97247575894377,
 60.88016954410036,
 53.56083080968231,
 49.75952787510755,
 39.73932869483556,
 40.71896095206296,
 40.387799842250644,
 45.48077436943733,
 42.64094898199846,
 33.57416772698637]

In [155]:
MBTA_energy_60ft

[-44.09211732039166,
 -34.13643153454197,
 -22.47253552866429,
 -29.741494613828674,
 -52.55299482181341,
 -33.934831193601575,
 -25.433163255000437,
 -68.56418427089889,
 -32.94865356553501,
 -28.493593164619256,
 -46.57488202577276,
 -49.7257067661293,
 -159.58616002771137,
 -102.04985223818366,
 -28.78841832998002,
 -42.24534991250633,
 -130.99611812554713,
 -77.74332009337913,
 -92.74948959651563,
 -78.63176702566625,
 -95.10253417753918,
 -37.65208751845752,
 -53.51132279979397,
 -30.577800746857214,
 -44.9586212514578,
 -52.137322116433374,
 -78.82447759829111,
 -57.596444623274216,
 -72.21067269330494,
 -44.917402994818055,
 -43.24501138533265,
 -108.2160532649084,
 -137.31936578665986,
 -127.8878525628091,
 -118.9371113715154,
 -98.96107625093488,
 -84.9422113948333,
 -67.78632527973281,
 -73.2478197825649,
 -44.14341108884101,
 -46.834775614998584,
 -32.51670565923183,
 -233.21135659121052,
 -196.2226455389163,
 -157.00300481880586,
 -77.1040919688849,
 -102.67402964235876,
 -91.41947809887793,
 -145.91143667834274,
 -93.57077712157154,
 -98.81052867893624,
 -60.07521788002815,
 -91.2056779073181,
 -119.61259396975251,
 -88.1118601879743,
 -83.25959524848076,
 -77.81641009015549,
 -117.29162747792937,
 -125.9348175482562,
 -95.25900926642579,
 -95.92546342070298,
 -138.12166015585842,
 -151.3067788897229,
 -216.42670285141847,
 -195.12823016794357,
 -232.9651301297228,
 -203.8221831628264,
 -142.61951849171518,
 -116.26192720928009,
 -128.42795838920233,
 -159.58489362729583,
 -116.56773239606567,
 -105.03708063579685,
 -201.92587650960013,
 -257.4897827039703,
 -242.4900770771678,
 -245.18933487591565,
 -193.3694607962276,
 -166.80286271373728,
 -254.75317684087784,
 -215.19107320818415,
 -275.6251114512981,
 -246.92068997152296,
 -203.6964528203695,
 -276.6512727161303,
 -244.1833498718687,
 -230.14706139255708,
 -119.32688615289229,
 -124.70883358865788,
 -123.6433501480068,
 -135.27878759116277,
 -133.3992907290879,
 -96.79689651626605]

In [158]:
query = "SELECT * FROM mbta_e_data ;"
route_data = pd.read_sql(query, engine)
route_data

,index,route_id,route_length,num_buses,MBTA_energy_30ft,MBTA_energy_40ft,MBTA_energy_60ft,avg_speed
0,0,201,671572.0,2.0,1.450868,1.529698,2.140397,5.920670
1,1,202,204479.0,4.0,1.376865,1.657608,2.114057,5.179345
2,2,210,533152.0,4.0,1.360542,1.804997,2.095427,7.328337
3,3,211,804990.0,8.0,1.799849,1.547350,2.127760,6.300936
4,4,212,189424.0,2.0,1.495068,1.566624,2.338906,5.997131
5,5,214,322743.0,4.0,1.287326,1.634344,2.989357,6.568696
6,6,215,1395334.0,20.0,1.947277,1.955252,2.308941,6.819996
7,7,216,807525.0,4.0,1.485901,1.541651,2.508040,8.105051
8,8,217,114998.0,2.0,1.849854,1.699853,2.326275,6.939686
9,9,220,2756083.0,8.0,1.259148,1.582480,2.487096,10.125741
10,10,221,74948.0,2.0,1.261201,1.584339,2.773396,8.276027
11,11,222,1993842.0,4.0,1.416792,1.601392,2.614071,9.160976
12,12,225,1479408.0,4.0,1.322422,1.646365,2.309073,5.499128
13,13,226,799607.0,2.0,1.822983,1.996958,2.158428,8.399351
14,14,230,1854350.0,4.0,1.777492,1.884251,2.509924,7.921780
15,15,236,692657.0,2.0,1.938418,1.915277,2.275535,7.455959
16,16,238,1901825.0,24.0,1.907574,1.606252,2.343347,8.195297
17,17,240,2698432.0,12.0,1.388935,1.800970,2.368582,8.762124
18,18,245,373227.0,4.0,1.835778,1.689608,2.440518,7.492085

In [160]:
trip_data.drop(columns = ["level_0", "index"])

,route_id,trip_id,trip_count,avg_speed,route_length,30ft_wt,40ft_wt,60ft_wt,p_ext,MBTA_energy_30ft,MBTA_energy_40ft,MBTA_energy_60ft
0,201,42949724,38,5.786905,4861.0,14181.320500,20381.320500,31281.320500,39542.988435,17.702699,18.767153,-44.092117
1,201,42949676,2,6.296667,3778.0,14181.320500,20381.320500,31281.320500,39542.988435,12.801723,13.494605,-34.136432
2,201,42949628,48,8.621429,3621.0,14181.320500,20381.320500,31281.320500,39542.988435,9.466265,10.076920,-22.472536
3,201,42842961_1,39,3.576923,2790.0,14181.320500,20381.320500,31281.320500,39542.988435,11.464183,12.150949,-29.741495
4,201,42949723,44,5.321429,4470.0,14181.320500,20381.320500,31281.320500,39542.988435,20.507363,21.664494,-52.552995
...,...,...,...,...,...,...,...,...,...,...,...,...
88,245,42949494,3,7.476042,14354.0,14604.849063,20804.849063,31704.849063,39553.879170,40.718961,42.666314,-124.708834
89,245,42949556,5,8.466667,14224.0,14604.849063,20804.849063,31704.849063,39553.879170,40.387800,42.280644,-123.643350
90,245,42949557,11,8.101923,12639.0,14604.849063,20804.849063,31704.849063,39553.879170,45.480774,47.703167,-135.278788
91,245,42949426,1,7.820690,13608.0,14604.849063,20804.849063,31704.849063,39553.879170,42.640949,44.545251,-133.399291
92,245,42949586,12,4.595833,7721.0,14604.849063,20804.849063,31704.849063,39553.879170,33.574168,35.403718,-96.796897

In [166]:
#estimating total energy consumed by different buses types on each route 
for route in route_data.route_id:
    ab = trip_data[trip_data.route_id == route]
    route_data.loc[route_data.route_id == route, "MBTA_energy_30ft"] = (ab["trip_count"] * ab["MBTA_energy_30ft"]).sum()
    route_data.loc[route_data.route_id == route, "MBTA_energy_40ft"] = (ab["trip_count"] * ab["MBTA_energy_40ft"]).sum()
    route_data.loc[route_data.route_id == route, "MBTA_energy_60ft"] = (ab["trip_count"] * ab["MBTA_energy_60ft"]).sum()

#storing estiamted data in database 
route_data.to_sql('mbta_e_data', con=engine, if_exists = 'replace')

In [168]:
route_data

,index,route_id,route_length,num_buses,MBTA_energy_30ft,MBTA_energy_40ft,MBTA_energy_60ft,avg_speed
0,0,201,671572.0,2.0,2502.113849,2650.957927,-6294.705089,5.920670
1,1,202,204479.0,4.0,705.225027,747.908936,-1758.106133,5.179345
2,2,210,533152.0,4.0,2076.019475,2198.005609,-5234.182161,7.328337
3,3,211,804990.0,8.0,2411.843230,2517.418685,-7275.354527,6.300936
4,4,212,189424.0,2.0,605.955598,628.239532,-1972.496668,5.997131
5,5,214,322743.0,4.0,958.253214,924.181897,-4251.414338,6.568696
6,6,215,1395334.0,20.0,3812.915283,3934.876103,-12876.738583,6.819996
7,7,216,807525.0,4.0,2217.320212,2318.893011,-6475.761947,8.105051
8,8,217,114998.0,2.0,382.539407,389.561880,-1407.082903,6.939686
9,9,220,2756083.0,8.0,6986.666459,7264.728839,-21834.799468,10.125741
10,10,221,74948.0,2.0,224.377464,236.394795,-605.123583,8.276027
11,11,222,1993842.0,4.0,4644.101697,4775.630335,-15729.435407,9.160976
12,12,225,1479408.0,4.0,5311.039306,5344.607172,-21012.150569,5.499128
13,13,226,799607.0,2.0,3027.514598,3093.581968,-10708.852245,8.399351
14,14,230,1854350.0,4.0,5911.609908,6026.884515,-21484.222734,7.921780
15,15,236,692657.0,2.0,2509.287047,2578.810109,-8908.219864,7.455959
16,16,238,1901825.0,24.0,6363.038865,6420.992109,-24533.566543,8.195297
17,17,240,2698432.0,12.0,9341.221582,9099.373140,-41959.460184,8.762124
18,18,245,373227.0,4.0,1309.654691,1375.198943,-3894.698850,7.492085

In [43]:
df[df.trip_id == "42949921"].shape[0]

12

In [124]:
# Add a bias term to the dataset
x1 = sm.add_constant(data1, has_constant='add')
# Create polynomial features
poly_feats = PolynomialFeatures(degree = 6)
x1 = poly_feats.fit_transform(x1)

In [125]:
p = my_reg.predict(x1)

In [101]:
df[df.trip_id == "42949921"]["duration_min"].values

(12,)