In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import statsmodels.api as sm
import matplotlib.mlab as mlab
from sklearn.feature_selection import RFECV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import math

In [2]:
from sklearn import datasets
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import ElasticNet

In [4]:
#connecting to database server
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:123456@localhost/mydb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600)

## Simulating energy values for various road grades , vehicle mass and auxillary power

In [16]:
query = "SELECT * FROM bus_library ;"
bus_lib = pd.read_sql(query, engine).drop(columns = "index")
bus_lib

   type  empt_wt  front_area  battery_size  max_power  charging_time
0  30ft    13500       7.902           215         90            5.0
1  40ft    19700       8.780           352        150            8.0
2  60ft    30600       8.780           446        180            9.0

In [6]:
query = "SELECT * FROM simu_data"
ener = pd.read_sql(query, engine).drop(columns = "index")
ener = ener.rename(columns={'30_ft': '30ft','40_ft': '40ft','60_ft': '60ft' })
ener

              0      40ft      30ft       60ft
0      3.667301  1.236482  1.172390   1.355468
1      3.722613  1.207645  1.143553   1.326631
2      3.777926  1.178808  1.114716   1.297794
3      3.833238  1.149971  1.085879   1.268957
4      3.668163  1.236936  1.172843   1.355922
...         ...       ...       ...        ...
12955  9.575674  9.048814  6.825456  12.950880
12956  9.410598  9.135779  6.912420  13.037845
12957  9.465911  9.106942  6.883583  13.009008
12958  9.521223  9.078105  6.854746  12.980171
12959  9.576536  9.049268  6.825909  12.951334

[12960 rows x 4 columns]

## Fitting the polynomial regression model for different bus sizes

In [37]:
#importing mass and auxillary power 
query = "SELECT * FROM mbta_route_data ;"
trip_data = pd.read_sql(query, engine)

In [8]:
#import real data for Boston 
query = "SELECT * FROM mbta_datafinal ;"
df = pd.read_sql(query, engine)

In [38]:
#writing the energy consumption equation

def ener_prediction(index):
    #Define constants
    g=9.81 #m/s^2
    bus_wt= bus_lib.loc[bus_lib.index == index,"empt_wt"].values[0] #kg (empty)
    m_pax=70 #kg
    C_rr=0.00697 #(without rain)
    #C_rr=0.00763 #(with rain)
    rho=1.2 #kg/m^3
    A=bus_lib.loc[bus_lib.index == index,"front_area"].values[0] #m^2
    C_d=0.65
    eta_m=0.85
    eta_bat = 0.95
    power= np.empty((0,1))

    riders = [5*x for x in np.arange(0,9,1)]
    masses = [] 
    p_aux = [] 

    #q_heat = 30000 #30kW
    p_auxx = 9000 #9 kW
    h_gain  =1.8 #W
    R_th = 0.0174 #K/W
    T_in = 21 #celcius 
    T_outside = [-20, -10,0, 10]
    C_p = 1.005 #KJ/KG.K
    rho = 1.2
    V_inf = 0
    V_hv = 1.13 #m^3/sec
    psi = 0.20 # 20%
    eta_cop = 2

    for rider in riders:
        masses.append(bus_wt+m_pax*rider)
        for T_out in T_outside:
            p_aux.append(abs((((((T_in-T_out)/R_th) + (rho*C_p*(T_in-T_out)*V_inf ) + (psi*V_hv* rho*C_p*(T_in-T_out)) - (h_gain*rider))/eta_cop)+ p_auxx)/eta_bat))


    #generate a possible sampling distrbution to select data from ????
    grades = np.arange(-0.1,0.1,0.005)
    time  = 0.1 #0.1 sec 
    p_max = bus_lib.loc[bus_lib.index == index,"max_power"].values[0] #90kw
    e_bat = bus_lib.loc[bus_lib.index == index,"battery_size"].values[0] #215 kwh
    data = np.empty((0,3))

    for grade in grades:
        for m_bus in masses: 
            for p_auxi in p_aux:
                data = np.append(data, np.array([[np.sin(grade), m_bus,p_auxi]]), axis=0)

    # Add a bias term to the dataset
    x = sm.add_constant(data)

    # Create polynomial features
    poly_feats = PolynomialFeatures(degree = 6)
    x = poly_feats.fit_transform(x)

    # Split into training and validation set
    x_train, x_val, y_train, y_val = train_test_split(x, ener[bus_lib.iloc[index]["type"]], test_size=0.2, random_state=0)


    # Fit the elastic net regression model
    my_reg = ElasticNet( alpha = 0.001, l1_ratio = 0.8, 
                        max_iter = 1e5).fit(x_train, y_train)

    # Make predictions
    val_preds = my_reg.predict(x_val)
    train_preds = my_reg.predict(x_train)
    val_mse = mean_squared_error(y_val, val_preds)
    train_mse = mean_squared_error(y_train, train_preds)
    print("Train MSE:", train_mse, "\n", "Valid MSE:", val_mse, "\n")
    
    energy = [] 
    for trip in trip_data.trip_id.values:
        data1 = np.empty((0,3))
        for i in range(0, df[df.trip_id ==  trip].shape[0]): 
            route  = trip_data[trip_data.trip_id == trip]["route_id"].values[0]
            data1 = np.append(data1, np.array([[np.sin(df[df.trip_id ==  trip][ "slope"].values[i]), trip_data[trip_data.route_id == route][bus_lib.iloc[index]["type"]+"_wt"].mean(),trip_data[trip_data.route_id == route]["p_ext"].mean()]]), axis =0 )
        # Add a bias term to the dataset
        x1 = sm.add_constant(data1, has_constant='add')
        # Create polynomial features
        poly_feats = PolynomialFeatures(degree = 6)
        x1 = poly_feats.fit_transform(x1)
        p = my_reg.predict(x1)
        energy.append(np.matmul(p,(df[df.trip_id == trip]["dist_m"].values/1000)))
    
    return energy

In [39]:
for index in bus_lib.index: 
    globals()["MBTA_energy_" + bus_lib.iloc[index]["type"]]  = ener_prediction(index)

Train MSE: 0.00016724992098954836
 Valid MSE: 0.0001731203211214438

Train MSE: 0.00033268978367465745
 Valid MSE: 0.00034240166542271947

Train MSE: 0.0007644584009694174
 Valid MSE: 0.0007836666987525387

In [40]:
trip_data["energy_30ft"]= MBTA_energy_30ft
trip_data["energy_40ft"]= MBTA_energy_40ft
trip_data["energy_60ft"]= MBTA_energy_60ft

In [47]:
query = "SELECT * FROM mbta_e_data ;"
route_data = pd.read_sql(query, engine)
route_data

,index,route_id,route_length,num_buses,energy_30ft,energy_40ft,energy_60ft,avg_speed
0,0,201,671572.0,2.0,1.733627,1.681793,2.156438,5.920670
1,1,202,204479.0,4.0,1.328560,1.702255,2.697465,5.179345
2,2,210,533152.0,4.0,1.929540,1.916123,2.458769,7.328337
3,3,211,804990.0,8.0,1.837294,1.781541,2.848193,6.300936
4,4,212,189424.0,2.0,1.251536,1.958217,2.515860,5.997131
5,5,214,322743.0,4.0,1.986122,1.697548,2.810863,6.568696
6,6,215,1395334.0,20.0,1.371873,1.575617,2.773775,6.819996
7,7,216,807525.0,4.0,1.706924,1.651652,2.371902,8.105051
8,8,217,114998.0,2.0,1.957339,1.925609,2.223423,6.939686
9,9,220,2756083.0,8.0,1.523322,1.986033,2.416687,10.125741
10,10,221,74948.0,2.0,1.352110,1.675222,2.328576,8.276027
11,11,222,1993842.0,4.0,1.355729,1.660978,2.376699,9.160976
12,12,225,1479408.0,4.0,1.420471,1.665023,2.858780,5.499128
13,13,226,799607.0,2.0,1.541022,1.513668,2.777400,8.399351
14,14,230,1854350.0,4.0,1.637048,1.795863,2.639893,7.921780
15,15,236,692657.0,2.0,1.599378,1.837656,2.756743,7.455959
16,16,238,1901825.0,24.0,1.620480,1.508839,2.908166,8.195297
17,17,240,2698432.0,12.0,1.202274,1.731138,2.226946,8.762124
18,18,245,373227.0,4.0,1.960149,1.517217,2.028913,7.492085

In [42]:
trip_data.drop(columns = ["level_0", "index"])

,route_id,trip_id,trip_count,avg_speed,route_length,30ft_wt,40ft_wt,60ft_wt,p_ext,energy_30ft,energy_40ft,energy_60ft
0,201,42949724,38,5.786905,4861.0,14200,20400,31300,10254.389121,9.827718,12.494380,17.176917
1,201,42949676,2,6.296667,3778.0,14200,20400,31300,10254.389121,7.114139,8.998653,12.308256
2,201,42949628,48,8.621429,3621.0,14200,20400,31300,10254.389121,5.260160,6.711706,9.260341
3,201,42842961_1,39,3.576923,2790.0,14200,20400,31300,10254.389121,6.454781,8.200452,11.266228
4,201,42949723,44,5.321429,4470.0,14200,20400,31300,10254.389121,11.329909,14.361247,19.684303
...,...,...,...,...,...,...,...,...,...,...,...,...
88,245,42949494,3,7.476042,14354.0,14620,20820,31720,10248.704910,23.356053,29.558513,40.453112
89,245,42949556,5,8.466667,14224.0,14620,20820,31720,10248.704910,23.071177,29.180745,39.911971
90,245,42949557,11,8.101923,12639.0,14620,20820,31720,10248.704910,25.891510,32.806134,44.950427
91,245,42949426,1,7.820690,13608.0,14620,20820,31720,10248.704910,24.351638,30.744355,41.973469
92,245,42949586,12,4.595833,7721.0,14620,20820,31720,10248.704910,19.355147,24.634240,33.905925

In [48]:
#estimating total energy consumed by different buses types on each route 
for route in route_data.route_id:
    ab = trip_data[trip_data.route_id == route]
    route_data.loc[route_data.route_id == route, "energy_30ft"] = (ab["trip_count"] * ab["energy_30ft"]).sum()
    route_data.loc[route_data.route_id == route, "energy_40ft"] = (ab["trip_count"] * ab["energy_40ft"]).sum()
    route_data.loc[route_data.route_id == route, "energy_60ft"] = (ab["trip_count"] * ab["energy_60ft"]).sum()

#storing estiamted data in database 
route_data.to_sql('mbta_e_data', con=engine, if_exists = 'replace')

In [49]:
route_data

,index,route_id,route_length,num_buses,energy_30ft,energy_40ft,energy_60ft,avg_speed
0,0,201,671572.0,2.0,1390.421686,1766.658137,2427.327954,5.920670
1,1,202,204479.0,4.0,392.715718,499.366108,686.643943,5.179345
2,2,210,533152.0,4.0,1148.593840,1460.230172,2007.424538,7.328337
3,3,211,804990.0,8.0,1349.805865,1705.117733,2329.098448,6.300936
4,4,212,189424.0,2.0,340.755478,427.905054,580.985501,5.997131
5,5,214,322743.0,4.0,544.098129,680.445525,919.802908,6.568696
6,6,215,1395334.0,20.0,2159.038549,2715.840151,3693.819776,6.819996
7,7,216,807525.0,4.0,1236.673103,1566.131200,2144.634605,8.105051
8,8,217,114998.0,2.0,218.559891,274.515086,372.790415,6.939686
9,9,220,2756083.0,8.0,3911.768317,4932.788595,6725.907460,10.125741
10,10,221,74948.0,2.0,124.762559,157.924817,216.161540,8.276027
11,11,222,1993842.0,4.0,2613.546540,3292.670929,4485.284028,9.160976
12,12,225,1479408.0,4.0,3053.064108,3828.750533,5191.179631,5.499128
13,13,226,799607.0,2.0,1711.604223,2154.675333,2932.761069,8.399351
14,14,230,1854350.0,4.0,3362.940003,4228.286922,5748.076381,7.921780
15,15,236,692657.0,2.0,1447.934731,1822.244086,2479.732403,7.455959
16,16,238,1901825.0,24.0,3635.339705,4559.161024,6181.656517,8.195297
17,17,240,2698432.0,12.0,5316.658212,6625.297840,8923.388507,8.762124
18,18,245,373227.0,4.0,749.538457,950.550142,1303.599370,7.492085

## Estimating the number of chargers required on each route

In [116]:
query = "SELECT * FROM cost_library ;"
calc_lib = pd.read_sql(query, engine)
calc_lib

,index,instal_costs,charger_costs,vehicle_ main_d,diesel_bus_cost,vehicle_main_e,battery_replace_cost,charging _onm,fuel_infra_costs
0,0,55000,50000,0.88,500000,0.64,83,500,0.02

Estimating charging time for each type of bus

In [56]:
for index in bus_lib.index:
    calc_lib[globals()["num_chargers_" + bus_lib.iloc[index]["index"]]] = (route_data.MBTA_energy_30ft.sum()/7)/(calc_lib["charge_power_dc"]* 5 *charging_efficiency)