In [8]:
import csv 
import MySQLdb
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
import random
import numpy as np

In [9]:
mydb = MySQLdb.connect(host='localhost', user='root', passwd='123456', db='mdb')

In [10]:
#connecting to database server
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:123456@localhost/mdb', pool_size=25, max_overflow=10, pool_timeout=60,pool_recycle=3600)

## Code for storing csv files as tables in MySQL database

In [4]:
#Creating a list of standard txt files in the GTFS data
req = ['agency.txt','stops.txt','routes.txt','stop_times.txt','trips.txt']

#Creating a list of mandatory field names in GTFS txt files 
standard_stops = ['stop_id','stop_name','stop_lat','stop_lon','zone_id','parent_station']
standard_agency = ['agency_id', 'agency_name', 'agency_url', 'agency_timezone']
standard_routes = ['route_id', 'agency_id', 'route_short_name', 'route_long_name']
standard_stop_times = ['trip_id', 'arrival_time', 'departure_time', 'stop_id','stop_sequence']
standard_trips = ['route_id', 'service_id','trip_id','direction_id']

In [16]:
#creating a data selecter fuction to extract mandatory columns from txt files  
def data_selec(index):
    p = req[index].split(".")[0]
    r = "standard_" + p
    return pd.read_csv(req[index], low_memory = False)[globals()[r]]

#Convert csv to SQL table and store them in database 

#list of MySQL table names 
M_db = []
for i in range(len(req)):
    globals()[req[i].split(".")[0]] = data_selec(i)
    if i > 0:
        p = globals()[req[i].split(".")[0]]
        q = agency["agency_name"][0].lower() + '_' + req[i].split(".")[0]
        M_db.append(q)
        p.to_sql(q, con=engine, if_exists='replace', chunksize=25000)

Storing ridership data

In [17]:
M_db

['comune di milano_stops',
 'comune di milano_routes',
 'comune di milano_stop_times',
 'comune di milano_trips']

In [20]:
#Import stop time data
query = "SELECT * FROM `comune di milano_stop_times` ;"
stop_times= pd.read_sql(query, engine)
stop_times.trip_id=stop_times.trip_id.astype("str")
stop_times.head()

,index,trip_id,arrival_time,departure_time,stop_id,stop_sequence
0,0,20200314_8_FERIALE_89_sa_i_89_6796_45319678,06:59:00,06:59:00,15487,1
1,1,20200314_8_FERIALE_89_sa_i_89_6796_45319678,07:00:43,07:00:43,15147,2
2,2,20200314_8_FERIALE_89_sa_i_89_6796_45319678,07:02:23,07:02:23,15148,3
3,3,20200314_8_FERIALE_89_sa_i_89_6796_45319678,07:05:00,07:05:00,15149,4
4,4,20200314_8_FERIALE_89_sa_i_89_6796_45319678,07:05:47,07:05:47,15677,5

In [22]:
#looking at trips on routes 
query = "SELECT * FROM `comune di milano_trips` ;"
trips= pd.read_sql(query, engine)
trips.head()

,index,route_id,service_id,trip_id,direction_id
0,0,B201,20200314_fes_i_2g,20200314_fes_i_2g_12132_36011971,NaN
1,1,B201,20200314_fes_i_2g,20200314_fes_i_2g_12132_36011911,NaN
2,2,B201,20200314_fes_i_2g,20200314_fes_i_2g_12132_36011973,NaN
3,3,B201,20200314_fes_i_2g,20200314_fes_i_2g_12132_36011913,NaN
4,4,B201,20200314_fes_i_2g,20200314_fes_i_2g_12132_36011975,NaN

In [24]:
len(trips.route_id.unique())

151

array(['20200314_fes_i_2g_12132_36011971',
       '20200314_fes_i_2g_12132_36011911',
       '20200314_fes_i_2g_12132_36011973', ...,
       '20200314_fes_i_2g_7613_8507415', '20200314_fes_i_2g_7613_8507416',
       '20200314_fes_i_2g_7613_8507418'], dtype=object)